#about
  margin-top: 200px
  max-width: 800px

  .row.resume
    border-top: 2px solid $black
    margin-top: 100px
    padding-top: 10px
    .col:first-child
      max-width: 30%
    strong
      @extend %special


  #iframe, img
    width: 110%
    position: relative
    left: -5%
    right: -5%
    max-width: 130%
    margin-top: 2rem
    margin-bottom: 2rem
