#highlights
  opacity: 0
  max-height: 0px
  transition: all ease 1s

#highlights.rendered
  opacity: 1
  max-height: 100%
  transition: all ease 1s

#highlights
  img
    max-width: 100%

  .work-post
    @extend .col
