h4#intro
  font-size: .7rem
  font-weight: 700
  letter-spacing: 1px
  position: relative
  display: flex
  flex-direction: row
  justify-content: flex-start
  align-items: center
  margin-top: 7rem
  color: $red
  text-transform: uppercase
  &:before
    content: ''
    position: relative
    width: 100px
    height: 2px
    background: $red
    display: block
    margin-right: 10px
    margin-left: -40px

#home h1
  font-size: 5rem
  font-weight: 700
  letter-spacing: -1px
  margin-top: 1rem
  margin-bottom: 2rem
 
