<footer class="container">
  <div class="row">
    <div class="col">
      <h4 class="special">Curious about this site?</h4>
      <p>I built it on <a href="http://www.metalsmith.io/">Metalsmith</a>. Check out the<a href="https://github.com/elliebartling/portfolio-new"> github repository</a> or my blog post about building it.</p>
      <div class="social-container">
        <a class="no-decoration" href="https://github.com/elliebartling"><i class="fab fa-github-alt"></i></a>
        <a class="no-decoration" href="https://www.instagram.com/elliembartling/?hl=en">
          <i class="fab fa-instagram"></i>
        </a>
      </div>
    </div>
  </div>
</footer>

<script id="app" src="/app.js" async></script>
