$red: #f1575c
$gray-900: #182848
$blue: #000DFF

@function grid($breakpoint)
  @return map-get($grid-breakpoints, $breakpoint)

@import "node_modules/bootstrap/scss/bootstrap"
@import "node_modules/breakpoint-sass/stylesheets/_breakpoint"

@import 'components/nav'

@import 'pages/home'
@import 'pages/highlights'

#app
  overflow: hidden
  width: 100vw

main.container
  max-width: 800px

.fade-enter-active, .fade-leave-active
  transition: opacity .5s

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
  opacity: 0


footer
  margin-top: 200px
