<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Ellen Marie Bartling - Designer & Developer</title>
  <meta name="description" content="">
  <link rel="stylesheet" href="app.css"/>
</head>
<body>
  <div id="app">
    <main class="container">
      <router-view></router-view>
    </main>
  </div>
  <header>
    <div class="container">
      <nav class="navbar">
        <div class="nav">
          <router-link to="/" class="nav-link">Home</router-link>
          <router-link to="/work" class="nav-link">Work</router-link>
          <router-link to="/posts" class="nav-link">Blog</router-link>
        </div>
      </nav>
    </div>
  </header>
  <script id="app" src="app.js" async></script>
</body>
</html>
